

.inputForm{
  background-color: #F6F6F6; 
  border: solid #E1E1E1;
  border-radius: 7px;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 2px;
}




.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.item-width{
  width: 97.5%;
}
  



