<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reseñas de {{movieTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let review of reviewsData | async">

     

        <ion-avatar item-start>
          <ion-icon name="person"></ion-icon>
        </ion-avatar>
        <h2>{{review.user}}</h2>

        <button *ngIf="review.userId==userId" (click)="showConfirm(review.$key)" ion-button clear item-end>
          
        <ion-icon name="trash" item-right></ion-icon>
      </button>

        <p>{{review.text}}</p>
    
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row align-items-center>
    <ion-col col-10>
      <ion-textarea [(ngModel)]="text" placeholder="Escribir reseña..."></ion-textarea>
    </ion-col>
    <ion-col col-1>
      <button clear ion-button (click)="uploadReview()"><ion-icon name="send"></ion-icon></button>
    </ion-col>
  </ion-row>


</ion-footer>