page-add-movie  {
    ul {
        padding: 0px;
       
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #000000;
       
          ion-icon {
            font-size: 30px;
          }
        }
      }

    #synopsis{
        height: 20vh;    
    }
    
    #image-preview{
        max-width: 500px;
    }
}