<ion-header>
  <ion-navbar color="primary">

    <ion-buttons left> <button (click)="openMenu()" ion-button>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title text-center>
      MOVE IS
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="home">
        Películas
      </ion-segment-button>
      <ion-segment-button value="collection">
        Colección
        <ion-badge item-end>{{collectionLenght}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher *ngIf="page=='collection'" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="page" style="height:100%">
    <div [ngClass]="{'hidden': page !== 'home' }">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-item>
        <ion-label> Mostrar imagenes</ion-label>
        <ion-toggle (click)="changeToggleState()" color="primary" [(ngModel)]="showImages"> </ion-toggle>
      </ion-item>
     <ion-list [virtualScroll]="movies.length ? movies : []">
        <ion-card *virtualItem="let movie">

          <img *ngIf="showImages" id="cover" [src]="movie.imageUrl">


          <ion-card-content>
            <ion-card-title class="margin-bottom" text-center>
              {{movie.title}}
            </ion-card-title>

            <h2 text-left class="margin-bottom">Género: {{movie.genre}}</h2>
            <h2 text-left class="margin-bottom">Duracion: {{movie.duration}}</h2>
            <h2 text-left class="margin-bottom">Fecha: {{movie.date | date: 'dd/MM/yyyy'}}</h2>

            <rating [(ngModel)]="movie.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
              starIconName="star" nullable="false"></rating>
          </ion-card-content>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col>
                <button (click)="showSynopsis(movie.title,movie.synopsis)" ion-button icon-left clear small>
                        <ion-icon name="information-circle"></ion-icon>
                        <div>Sinopsis</div>
                      </button>
              </ion-col>
              <ion-col>
                <button (click)="showReviews(movie.k, movie.title)" ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>Reseñas</div>
                      </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button large clear (click)="addToCollection(this.movie)">
                          <ion-icon large name="{{collectionIcon}}"></ion-icon>
                      </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
    </div>

    <div [ngClass]="{'hidden': page !== 'collection' }">

      <ion-card *ngFor="let movie of collection">

        <img id="cover" [src]="movie.imageUrl">


        <ion-card-content>
          <ion-card-title class="margin-bottom" text-center>
            {{movie.title}}
          </ion-card-title>

          <h2 text-left class="margin-bottom">Género: {{movie.genre}}</h2>
          <h2 text-left class="margin-bottom">Duracion: {{movie.duration}}</h2>
          <h2 text-left class="margin-bottom">Fecha: {{movie.date | date: 'dd/MM/yyyy'}}</h2>

          <rating [(ngModel)]="movie.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false"></rating>
        </ion-card-content>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col>
              <button (click)="showSynopsis(movie.title,movie.synopsis)" ion-button icon-left clear small>
                            <ion-icon name="information-circle"></ion-icon>
                            <div>Sinopsis</div>
                          </button>
            </ion-col>
            <ion-col>
              <button (click)="showReviews(movie.k,movie.title)" ion-button icon-left clear small>
                            <ion-icon name="text"></ion-icon>
                            <div>Reseñas</div>
                          </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button large clear (click)="showConfirm(movie.$key)">
                              <ion-icon large name="trash"></ion-icon>
                          </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </div>
  <ion-fab *ngIf="page=='home'" bottom right>
    <button (click)="openModal()" ion-fab color="primary">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>
</ion-content>